{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias Chacú</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
    {% block css %}
        
    {% endblock css %}
    <script src="" crossorigin="anonymous"></script>
    <script src="{% static ''%}"></script>  
</head>

<body>
    <!-- PRECARGA -->

    <header class="Header">
        <div class="container__menu">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" alt="Logo de la empresa"></a>
            </div>
            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label id="label__check" for="check__menu">
                    <div class="bars__menu">
                        <span class="line1__bars-menu"></span>
                        <span class="line2__bars-menu"></span>
                        <span class="line3__bars-menu"></span>

                        <script src="{% static '' %}"></script>
                    </div>
                </label>

                <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'home' %}" id="selected"></a></li>
                        <div class="inicio_responsive">
                            {% if user.is_authenticated %}
                                <div class="cerrar_sesion">
                                    <span class="bienvenida">Bienvenido/a {{user.username}}!!</span>
                                    <a href="{% url 'logout' %}" id="selected">Cerrar Sesión</a>
                                </div>
                            {% else %}
                            <a href="{% url 'login' %}" id="selected">Iniciar Sesión</a>
                            {% endif %}
                        </div>
                        {% if request.user.is_staff %}
                        <li><a href="{% url 'admin_redirect' %}">SECCION ADMIN </a>
                        {% endif %}
                        <li ><a href="{% url 'noticias:listar_noticias' %}">Noticias</a>
                        </li>
                        <li><a href="#">Sobre Nosotros</a>
                            <ul>
                                <li><a href="{% url 'sobrenosotros'%}">Quienes somos</a></li>
                                <li><a href="{% url 'preguntasFQ' %}">Preguntas Frecuentes</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{% url 'contactos:contactanos'%}" target="_blank">Contactanos</a></li>
                        </li>
                    </ul>
                    <div class="login__container">
                        {% if user.is_authenticated %}
                            <div class="cerrar_sesion">
                                <span class="bienvenida">Bienvenido/a {{user.username}}!!</span>
                                <a href="{% url 'logout' %}" class="btn1"><button>Cerrar Sesion</button></a>
                            </div>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn"><button>Iniciar Sesion</button></a>
                        {% endif %}
                    </div>
                </nav>
            </div>        
        </div>
    </header>
    <div class="noticias__container">
        <div class="letra__container">
    <main class="main_index">
        <div class="container_main">
            <div class="words1">
                <h1 class="words">Chacú Noticias</h1>
                <h2 class="words__h2">Información confiable a un click de distancia</h2>             
            </div>
        </div>
    </main>

    {% block header %}

    {% endblock header %}
    
</div>
</div>

    <div class="footer_sabias">
        <footer class="footer-area">
            <div class="footer-wave-box">
                <div class="footer-wave footer-animation"></div>
            </div>
            <div class="main_index">
                <div class="footer">
                    <div class="single-footer">
                        <h4>SOBRE NOSOTROS</h4>
                        <ul>
                            <li><a href="{% url 'sobrenosotros' %}"><i class="fas fa-chevron-right"></i> ¿Qué hacemos? </a></li>
                            <li><a href="{% url 'preguntasFQ' %}"><i class="fas fa-chevron-right"></i> Preguntas Frecuentes </a></li>
                        </ul>
    
                    </div>
                    <div class="single-footer">
                        <h4>MENU</h4>
                        <ul>
                            <li><a href="{% url 'home' %}"><i class="fas fa-chevron-right"></i> Inicio </a></li>
                            <li><a href="{% url 'noticias:listar_noticias' %}"><i class="fas fa-chevron-right"></i> Noticias</a></li>
                        </ul>
                    </div>
                    
                    <div class="single-footer">
                        <h4>REDES SOCIALES</h4>
                        <div class="footer-social">
                            <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="single-footer">
                        <h4>CONTACTANOS</h4>
                        <ul>
                            <li><a href="{% url 'contactos:contactanos' %}"><i class="far fa-envelope"></i> Envianos un mensaje</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copy">
                    <p>© Copyright 2024 Informatorio <b>Grupo 6</b> - Chaco. All Rights Reserved.</p>
                </div>
            </div>
        </footer>   
    </div>   


    
    {% block contenido %}

    {% endblock contenido %}


</body>
</html>