{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head_contact %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias Chacú</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    {% block css %}
        
    {% endblock css %}

</head>
{% endblock head_contact %}
<body>
    <div class="loader">
        <ul >
            <li class="menu"><a href="{% url 'home' %}">HOME</a></li>
            <li class="menu"><a href="{% url 'libros:listar_libros' 'todos' %}">LIBROS</a></li>
            <li class="menu"><a href="{% url 'libros:crear_libro' %}">CREAR</a></li>
            

            {% if user.is_authenticated %}
                <li class="menu"><b>Welcome {{user.username}}</b></li>
                <li class="menu"><a href="{% url 'usuarios:logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li class="menu"><a href="{% url 'usuarios:registro_usuario' %}">REGISTRAR</a></li> 
                <li class="menu"><a href="{% url 'usuarios:login' %}">Iniciar sesión (Log in)</a></li>
            {% endif %}

            

        </ul>
        
    </div>
    {% block body_contact %}


    {% endblock body_contact %}

</body>
</html>