{% extends 'base.html' %}
{% load static %}

{% block css %}
      <link rel="stylesheet" href="{% static 'css/sobre_nosotros.css' %}">
{% endblock css %}


{% block content %}
  <div class="row" id="row1">
    <div class="column" id="col11">
      <p>
            ¿Quiénes somos?<b> Noticias Chacú </b> Somos un portal de noticias
            especializado en la difusión  <br />confiable y verosímil<br /> de información, avalada por
            nuetro equipo de periodistas y editores.
      </p>
        </div>
        <div class="column" id="colba">
          <img src="{% static 'img/Logo.png' %}" alt="Logo" id="imgrow1" />
        </div>
      </div>

        <div class="column" id="colcb"><p></p></div>
      </div>

      <div class="row" id="row3">
        <div class="column" id="colac">
          <img src="{% static 'img/infor.png' %}" alt="informatorio" id="imgrow1" />
        </div>
        <div class="column" id="colbc">
          <p>
            Creado por un grupo de estudiantes (grupo 6) de la segunda etapa del Informatorio
            que realizó este portal de noticias llamado Chacú Noticias.
          </p>
        </div>
      </div>
      
      <div class="row" id="row4">
        <div class="column" id="colad"><p>¿Cómo funciona?</p></div>
        <div class="column" id="colbd">
          <ul>
            <li>      
              Los invitamos a disfrutar nuestro blog de noticias “Chacú”,  
              que con el fin de demostrar lo aprendido replicamos contenido 
              seleccionado para llevar novedades a cada uno de ustedes.
            </li>

          </ul>
        </div>
      </div>
      <div id="row5">
        <div id="faces">
          <div class="verticalText">
            <p>Integrantes</p>
          </div>
          <div class="animated">
            <a href="https://github.com/Richardgoros" target="blank">
            <img class="roundedImg" src="{% static 'img/teenager.png' %}" alt="Gorostizu, Ricardo Felix" />
            <p>Gorostizu, Ricardo Felix (Front y Back-end)</p>
            </a>
            
          </div>
          <div class="animated">
            <a href="https://github.com/keindon" target="blank">
            <img class="roundedImg" src="{% static 'img/pibe.png' %}" alt="Parcellier Alexis" />
            <p>Parcellier, Axel Joel (Back-end)</p>
          </a>
          </div>

          <div class="animated">
            <a href="https://github.com/RoxanaPensi" target="blank">
            <img class="roundedImg" src="{% static 'img/icon1.png' %}" alt="Pensi, Roxana" />
            <p>Pensi, Roxana (Front-end)</p>
            </a>
          </div>       
          
          <div class="animated">
            <a href="https://github.com/bonseq" target="blank">
            <img class="roundedImg" src="{% static 'img/student.png' %}" alt="Bonguan, Juliana" />
            <p>Bonguan, Juliana (Back-end)</p>
            </a>
          </div>
          <div class="animated">
            <a href="https://github.com/sophie-fefe8" target="blank">
            <img class="roundedImg" src="{% static 'img/student.png' %}" alt="Stevens, Sofia Federica" />
            <p>Stevens, Sofia Federica (Front-end)</p>
            </a>
          </div>
          <div class="animated">
            <a href="https://github.com/StivenAlexis" target="blank">
            <img class="roundedImg" src="{% static 'img/pibe.png' %}" alt="Monsalvo, Stiven" />
            <p>Monsalvo, Stiven (Back-end)</p>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}