{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
       
    <title>FQ PAGE</title>
    <link rel="shortcut icon" href="{% static 'img/.png' %}" type="image/x-icon">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link href="{% static 'css/font/font1.css' %}" rel="stylesheet" >
</head>
<body>
{% block content %}

 
    <!-- HEADER SECTION -->
    <header id="header">
        <div class="container__header">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/.png' %}" alt=""></a>
            </div>
        </div>
    </header>

    <div class="container_all" id="container__all">
        <div class="cover">

            <!--INICIO WAVE-->
            

                <div class="bg_color"></div>
                <div class="wave w1"></div>
                <div class="wave w2"></div>

            <!--FINAL WAVE-->

            <div class="container__cover">
                <div class="words__h2">
                    <h1>PREGUNTAS </h1>
                    <h2>FRECUENTES (FAQ)</h2>
                    <div class="words__h2">    
                    <p>Soluciones a las dudas que pueden surgir
                         durante el tránsito en el sitio</p>
                </div>

                
            </div>
        </div><br><br>
        

    <!-- FQ SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Question One -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h2 class="words__h4">
                                <a>
                                    ¿Tiene costo acceder a los artículos de Chacú Noticias?
                                </a>
                            </h2>
                        </div>

                            <div class="words__h3">
                                <h1>No! Chacú Noticias es totalmente gratuito y te permite comentar sin necesidad de pagar suscripciones.
                                </h1>
                            </div>

                    </div>
                    <!-- Question Two -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="words__h4">
                                <a>
                                    ¿Realmente necesito leer este blog?
                                </a>
                            </h3>
                        </div>

                            <div class="words__h3">
                                <h1> Claro que si, porque contiene información confiable con el objetivo de entregarte buenas noticias,
                                    en su mayoría sobre avances en ciencia y tecnología. Aportándote novedades que te van a interesar.
                                </h1>
                        </div>
                    </div>
                    <!-- Question Three -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="words__h4">
                                <a>
                                    ¿Como creo mi usuario?
                                </a>
                            </h4>
                        </div>
                        <div>
                            <div class="words__h3">
                                <h1>Haciendo click en “iniciar sesión” completando el 
                                    formulario. </h1>
                            </div>
                        </div>
                    </div>
                    <!-- Question Four -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="words__h4">
                                <a>
                                    ¿Como me logueo?
                                </a>
                            </h4>
                        </div>
                        <div>
                            <div class="words__h3">
                                <h1>Iniciando sesión con el usuario y contraseña que definiste al logearte. </h1>
                            </div>
                        </div>
                    </div>
                    <!-- Question Five -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="words__h4">
                                <a>
                                    Olvide mi clave ¿como la recupero?
                                </a>
                            </h4>
                        </div>
                        <div>
                            <div class="words__h3">
                                <h1>De momento no poseemos capacidad en el sitio para recuperar contraseña,
                                     asi que se requerirá la creación de un nuevo usuario</h1>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><br><br><br><br><br>
    {% endblock content %}

    <script src=" {% static 'js/pre.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/accodion.js' %}"></script>
    <script src="{% static 'js/script_preguntas_frecuentes.js' %}"></script>
</body>

</html>