#faces {
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  .roundedImg {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  .animated {
    transition: 0.35s;
  }

  .animated p {
    font-size: 25px;
  }

  .animated:hover {
    transform: scale(1.2, 1.2);
  }
  marquee {
    background-color: #81b214;
    padding: 10px;
    letter-spacing: 3px;
  }
  .row {
    height: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #row2 {
    height: 500px;
  }
  #row4 {
    height: 450px;
  }

  #row5 {
    height: 450px;
    background-color: #7ca3ec;
  }


  
  .column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .column p {
    margin: auto;
    text-align: center;
  }
  
  .column ul {
    margin: auto;
    padding: 0px 15%;
  }
  .column img {
    width: 100%;
    height: 100%;
  }
  .verticalText p {
    transform: rotate(-60deg);
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 1px 1px 2px #000000;
  }
  /* row1 */

  #colad {
    width: 45%;
    background-color: #17b262;
  }
  #colad p {
    letter-spacing: 5px;
    font-size: 33px;
    transform: rotate(60deg);
    margin-left: 5%;
    white-space: nowrap;
    font-weight: 900;
    text-shadow: 1px 1px 2px #000000;
  }
  #col11 {
    width: 100%;
    background-color: #00af91;
    background: linear-gradient(to right,  #00af91 0%, #17b262 100%);
  }
  #col11 p {
    letter-spacing: 5px;
    font-size: 33px;

    font-weight: 700;
    text-shadow: 1px 1px 2px #000000;
  }

  #colba {
    width: 30%;
    background-color: #000000;
  }
  #col11 b {
    font-family: Roboto;
    color: #2613cf;
  }
  /* row2 */
  #colab {
    width: 25%;
    background-color: #4c4f7a;
  }
  #colab p {
    margin-left: 0%;
    font-size: 40px;
    white-space: nowrap;
  }
  #colbb {
    width: 50%;
  }

  #colbb b {
    color: #f0bb62;
    letter-spacing: 3px;
  }

  #colbb p {
    font-size: 24px;
    padding: 20px 150px;
    text-align: start;
  }
  #colcb {
    width: 25%;
    background-color: #81b214;
  }
  /* row3 */
  #colac {
    width: 30%;
  }
  
  #colbc {
    width: 100%;
    background-color: #3152be;
  }

  #colbc p {
    font-size: 45px;
  }

  /* row4 */
  #colad {
    width: 45%;
    background-color: #17b262;
  }
  #colad p {
    letter-spacing: 5px;
    font-size: 33px;
    transform: rotate(60deg);
    margin-left: 5%;
    white-space: nowrap;
    font-weight: 900;
    text-shadow: 1px 1px 2px #000000;
  }
  #colbd {
    width: 75%;
    background-color: #95caea;
  }

  #colbd ul li {
    font-size: 30px;
    list-style: disc;
  }